.slider img {
  height: 90vh;
  object-fit: cover;
  object-position: center;
  filter: blur(1px);
  border: 0;

}
.slider .carousel-caption {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.5);

  width: 100% ;
  height: 100%;
  left: 0;
  bottom: 0;
}

.slider .carousel-caption h1 {
  font-size: 5rem;
  font-weight: 700;
  color: #fff ;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.bg-light-blue {
  /* background-color: #e3f2fd;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%; */
  background-image: url(../../../../public/assets/bg-01.png);
  background-position: top center;
  background-repeat: no-repeat;
}
